#!/bin/sh
### BEGIN INIT INFO
# Provides:          TeamCity Build Agent
# Required-Start:    $remote_fs $syslog
# Required-Stop:     $remote_fs $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Start build agent daemon at boot time
# Description:       Enable service provided by daemon.
### END INIT INFO
#Provide the correct user name:
USER={{buildAgent_user}}
JAVA_HOME={{boildTools_path}}{{java_home}}

case "$1" in
start)
 #su - $USER -c "cd {{buildAgent_path}}bin ; ./agent.sh start"
 su - $USER -c "{{buildAgent_path}}bin/agent.sh start"
;;
stop)
 #su - $USER -c "cd {{buildAgent_path}}bin ; ./agent.sh stop"
 su - $USER -c "{{buildAgent_path}}bin/agent.sh stop"
;;
status)
 #su - $USER -c "cd {{buildAgent_path}}bin ; ./agent.sh status"
 su - $USER -c "{{buildAgent_path}}bin/agent.sh status"
;;
*)
  echo "usage start/stop/status"
  exit 1
 ;;

esac

exit 0
