## TeamCity build agent configuration file

######################################
#   Required Agent Properties        #
######################################

serverUrl={{TeamCity_url}}

name={{ ansible_hostname }}

workDir=../work

tempDir=../temp

ownPort=9091

######################################
#   Optional Agent Properties        #
######################################

authorizationToken=__myToken__


######################################
#   Default Build Properties         #
######################################

# Build Script Properties

buildTools=%teamcity.agent.home.dir%/../buildTools

system.proxy=http\://proxy.eu.compumark.com\:8080
system.proxy.host=proxy.eu.compumark.com
system.proxy.port=8080

system.oracle.client.11.2.0=/oracle/base/product/11.2.0.3/client_1
system.oracle.tnsadmin=/oracle/TNS_ADMIN
system.oracle.client.10.2.0=/oracle/base/product/10.2.0/client_1

system.JDK16=/SYS/LIB/JAVA/x86_64-jdk1.6.0_26
system.JDK18=/SYS/LIB/JAVA/x86_64-jdk1.8.0_20
system.JDK17=/SYS/LIB/JAVA/x86_64-jdk1.7.0_3

system.devfiler.devdata=/misc/fs_dev002/qtnfs
system.devfiler.devlib=/misc/fs_dev002/DEV/LIB
system.devfiler.devshr=/misc/fs_dev002/DEV/SHR

system.path.ssh=/bin/ssh
system.path.bash=/bin/bash
system.path.wget=/bin/wget
system.path.perl=/bin/perl
system.path.zip=/bin/zip
system.path.ssh-agent=/bin/ssh-agent
system.path.curl=/bin/curl
system.path.unzip=/bin/unzip


# Environment Variables

env.GRADLE_USER_HOME=%system.teamcity.build.tempDir%

# Default Environment Variables


# Specific Environment Variables

system.tools.GRADLE_3.5=/buildspace/buildTools/gradle-3.5
